body {
  font-family: 'Open Sans', sans-serif;
  padding: 40px;
      }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-slider-handle{
  border: 1px solid #737373;
  border-radius: 4px;
  background: #eee;
  background: linear-gradient(to bottom, #BBBBBB 0%, #565656 100%);
}

.line {
  fill: none;
  stroke: #e74c3c;
  stroke-width: 2px;
}

.diffGroup path{
  stroke: #444;
}

.diffGroup line{
  /*stroke: #444;*/
  stroke-width: 2;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 15px;             
  background: #666;   
  border: 0px;    
  color: white;
  font-family: "Open Sans";  
  border-radius: 6px;           
  pointer-events: none;   
  font-size: 14px;      
}

.reach{
  fill: none;
  /*stroke: #444;*/
  stroke-width: 2;
  stroke-dasharray: 3,3;
}

.current{
  stroke: #2ecc71;
}

.replacement{
  stroke: #3498db;
}

.neutral{
  stroke: #444;
}

.front {
  fill: #E33131;
}

.back.bar{
  fill: #696969;
}

.value-label rect,
.difference rect{
  fill: ;
  fill: #ccc;
  opacity: 0.75;
}

.d3-slider-handle{
  cursor: pointer;
}

.arrow path{
  stroke-width: 2px;
  stroke: #444;
}

/*.dot{
  cursor: pointer;
}*/